{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/prologue-wine-co.myshopify.com/products/configure/148500/edit
{% endcomment %}
{% if product.metafields.custom_fields["subheading"] != blank %}
  <div class="custom-field custom-field__subheading custom-field__type--text">
    <h3 class="custom-field--title">Subheading</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["subheading"] }}
    </div>
  </div>
{% endif %}