.footer h3 {
    text-transform: uppercase !important;
}

.blog-main ul {
    margin-top: 25px;
}


h2 {
    text-transform: uppercase;
}

.title-bar {
    margin-top: 35px;
}

.title-bar h2 {
    margin-top: 0px;
}

.title-bar h1 {
    font-size: 50px !important;
  padding-bottom: 25px;
}

.title-bar h1:after {
  display: none;
}

.description-content {
    padding: 25px 0 25px;
}

.slider-caption {
    padding: 24px 0px 15px;
}

.flex-direction-nav a {
    bottom: -24px;
}

.footer-block--wrapper {
    text-align: left;
}
  
.bottom-footer {
    padding: 10px 0 10px 0;
    font-size: 12px;
    margin-top: 20px;
    border-top: 1px solid #dadada;
}

#newsletter_text {
    border: 1px solid #dadada;
    padding: 13px;
}

.notification-bar p {
    font-weight: 200;
}

.slider-caption.horizontal-align--center {
    font-weight: 200;
}

/* Homepage wrapper */

.homepage-section--indiv-product-wrapper .homepage-sections-wrapper {
  padding-top: 0px !important;
}

.slider-caption .slider-caption--subheading.size-24 p {
    font-family: "ITC Caslon No 224", serif;
}

.collection-image--zoom-effect {
  max-width: 270px;
}

.indiv-product img {
  /*
    padding: 0px 70px 0px 0px;
    */
    background-color: #ffffff;
}

.title-bar h2 {
    font-size: 50px !important;
    letter-spacing: 0px;
}

.homepage-headline-text {
    font-size: 40px;
    font-weight: 300 !important;
    text-transform: uppercase !Important;
}

.btn-custom {
  text-transform: uppercase;
}

button#purchase.add-to-cart--secondary {
  text-transform: uppercase;
  background: #2a4820 !important;
  font-size: 17px;
}

.shopify-payment-button .shopify-payment-button__button--unbranded {
  text-transform: uppercase !Important;
  font-size: 17px !important;
  background: #2a4820 !important;
  font-weight: 700 !important;
}

.slider-caption h4.size-50 {
    text-transform: uppercase;
}
  
.homepage-subheading--1 {
    text-transform: uppercase;
}

.title-bar {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.title-bar h2::after {
  display: none;
}

.featured-row__subtext p {
    font-size: 23px;
}

.homepage-section--text-over-image-wrapper .rte {
    font-size: 20px;
    margin-top: 0px;
}

.newsletter_title .rte {
    padding: 0px 0px 0px 0;
}

.entry-content.product-description-main-wrapper.wow.fadeInUp {
    background-color: #f5f6f8;
    padding: 25px 40px 40px;
}

.product-read-more {
  font-size: 20px;
  font-family: Josefin Sans, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-page--pricing {
  margin-bottom: 0px;
}

.row.homepage-sections--indiv-product-slider-variants {
  margin-top: 10px;
}

#price-field {
  font-size: 35px;
}

.selector-wrapper label {
  display: none;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-container button, .button-container div {
  flex-basis: 180px;
  margin-right: 20px;
}

.button-container button, .button-container div button {
  padding: 20px !important;
  margin-top: 0px !important;
  line-height: 1 !important;
  border: 0px solid transparent !important;
  background-color: #487338 !important;
  color: #fff !important;
}

.button-container button {
  margin-bottom: 20px;
}


.shipping-text h4 {
    font-style: italic;
    font-size: 18px;
    font-weight: 300 !important;
    font-family: "ITC Caslon No 224", serif;
}

.quantity-controls {
  font-weight: bold;
  
}

#Quantity {
  width: 50px;
}

.button-container div {
  flex-basis: 180px !important;
  max-width: 180px !important;
}

.button-container div div {
  width: 100%;
}

.product-subheading {
  text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
      margin-top: 2px;
}



.homepage-sections-wrapper--light .btn-custom {
    color: #ffffff;
    background: #2a4820;
    margin-top: 20px;
    margin-bottom: 0px;
}

/* After menu topbar */
.slider-caption--subheading.size-20.first-fade p{
  margin: 0 0 5px !important;
}


/* Quick View */
.sca-qv-image a.sca-qv-button {
  padding: 16px 16px 14px 16px !important;
  border-radius: 0;
}

.sca-qv-button {
  border: unset;
  font-family: "Josefin Sans",sans-serif !important;
  
  line-height: 1;
  text-transform: uppercase;
  background: #2a4820 !important;
  color: #fff;
}

.sca-brankmark {
  display: none !important;
  visibility: hidden !important;
}




/* Today's Offer */

.homepage-sections--indiv-product-slider img {
  width: 95%;
}


/* Rich Text (Heading/Image secitons) */

.rich-text .text-left .title-bar {
  text-align: left;
}

.rich-text .text-right .title-bar {
  text-align: right;
}

.rich-text .text-left .title-bar h2, .rich-text .text-right .title-bar h2 {
  padding: 0;
}

.rich-flex {
  display: flex;
  align-items: center;
}

/* Featured Section */

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

.homepage-section--featured-products-wrapper .homepage-sections-wrapper {
  padding-top: 0px !important;
}

.homepage-sections-wrapper .product-description-wrapper {
  margin: 25px 0 10px 0;
  clear: both;
}

.homepage-featured-products .hp-title {
  min-height: 160px !important;
}

#shopify-section-collection-template .hp-title {
  min-height: 212px;
  height: 212px;
  display: inherit !important;
}

.indiv-product {
    margin-bottom: 50px !important;
}

.indiv-product-title-text {
  display: block;
  text-align: left;
}

.indiv-product, .money-styling {
  text-align: left;
  font-family: "Josefin Sans",sans-serif;
  text-transform: uppercase;
   letter-spacing: .2px;
  margin-bottom: 3px;
}

.indiv-product-title-text, .money-styling {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 1.25;
}

.indiv-product-subheading {
  margin: 5px 0;
  color: #000;
  display: block;
  font-size: 13px;
  text-align: left;
}

.recent-offers-cartbtn {
  border: unset;
  font-family: "Josefin Sans",sans-serif;
  padding: 14px 26px;
  line-height: 1;
  text-transform: uppercase;
  background: #2a4820 !important;
  color: #fff;
}

h4.rich-subheading {
  font-family: "ITC Caslon No 224",serif;
  font-weight: 500;
   font-size: 19px;
   line-height: 1.4;
}

.title-bar.title-bar-lowercase.custom-font {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.product-grid-links {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-grid-links div {
  flex-grow: 1;
}
  
/* Avatique Section */


.hero--text-over-image  .homepage-headline-text {
  font-size: 50px !important;
}

.hero__text.textarea.rte {
  font-size: 2.4rem;
}


/* Slider buttons */ 
.btn.btn-custom {
  box-sizing: content-box !important;
  height: 10px !important;
  line-height: 1 !important;
  padding: 18px 30px !important;
}

/* Custom Orders */
#shopify-section-1582315063813 .homepage-sections-wrapper--light {
  margin: 0px !important;
}

/* Morchella  */
#shopify-section-1582315349166 .homepage-sections-wrapper {
  padding-top: 0px;
}


/* Feature Row (Image and Text Section) */
#shopify-section-1582315349166 .index-section, 
#shopify-section-1582315349166 .feature-row__text, 
#shopify-section-1582315349166 .feature-row__image {
  padding: 0px;
}

/* Footer */

.footer-block--wrapper {
    text-align: center;
}

.footer-article {
    text-align: center;
}

.bottom-footer p {
  text-align: center;
}

div.col-md-6 copyright {
width: 100%;
}

.footer-article a {
  text-decoration: none;
}


/* Collections */

/* QV Alignment Fix */
#shopify-section-collection-template .sca-qv-button {
  top: 120px !important;
}

#collections-main .description-content {
  width: 870px;
  margin: 0 auto;
}

.monthly-clubs .indiv-product-subheading {
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  font-family: "ITC Caslon No 224",serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
}

.bold-ro__frequency-label {
    font-size: 12px !important;
}

.underneath-description-container {
  text-align: center;
  margin-bottom: 40px;
}

.collection-underneath-image {
  max-width: 100%;
}


/* News */

.blog-divider-container {
  margin-top: 20px;
}

.blog-title-wrapper .blog-publish-date {
    font-family: Josefin Sans, sans-serif;
}

.blog-title-wrapper .blog-publish-date {
    margin-top: 17px;
    margin-bottom: 0px !important;
}

.blog-title--divider {
    display: none;
}

.blog-main ul li {
    margin-bottom: 60px;
}


/* Mailchimp */

@media (min-width: 992px) {
  .mc-row {
    display: flex;
    align-items: center;
  }
}

.mc-btn-container { 
  font-family: "Josefin Sans", sans-serif;
}

.mc-row {
  padding: 20px;
}

.mc-flex-container {
  display: flex;
  flex-direction: row;
}

.mc-flex-container #mce-responses.clear { 
  position: absolute;
}

.mc-email-container {
  flex-grow: 1;
  padding-right: 10px;
}

.mc-email-container input {
  width: 100%;
  padding: 11px 8px 8px 18px;
  letter-spacing: 0px;
}

.mc-container-wrap, .mc-email-container input {
  background-color: #f1f1f1;
  font-family: "Josefin Sans",sans-serif;  
  letter-spacing: 1.1px;
}

.mc-email-container input {
  border: 1px solid #a1a1a1;
  padding: 11px 8px 8px 8px;
  
}

.signup-cta-text {
  text-align: left;
}

.signup-cta-text h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#mc-embedded-subscribe {
  height: 100%;
  padding: 11px 8px 8px 8px;
  background-color: #2a4820;
  color: #fff;
  border: 0px solid transparent;
  text-transform: uppercase;
  padding: 11px 25px 8px 25px;
}


/* FAQ */

.s4com-helpcenter h1 {
    font-weight: bold;
}

.s4com-sub-heading {
  text-transform: uppercase !important;
  font-weight: 800 !important;
}

.s4com-language-selection {
    margin-bottom: 0px !important;
    margin-top: 20px !important;
}

.s4com-fas {
  display: none !important;
}

.s4com-articles a h4 {
    color: #333333;
    font-size: 17px !important;
    padding-left: 20px !important;
    text-transform: uppercase !important;
}

.s4com-articles h4 {
    padding: 18px 0px 12px;
}

.s4com-icon-wrap {
    margin-top: -17px;
}

.s4com-articles {
    padding-left: 0px !important;
}

.s4com-sub-heading {
    padding: 35px 0px 10px 0px !important;
}

.breadcrumb {
    display: none;
}

div#shopify-section-product-template {
  padding-top: 40px;
}

.bold-ro__recurring-title {
  display: none;
} 

/* My Account */
#customer_sidebar .btn {
  width: 80%;
}

#customer_sidebar {
  padding-bottom: 40px;
}

.account-btn {
  margin: 10px 0;
}

.template-customers-account .title-bar.title-bar-lowercase.custom-font {
  margin-top: 0px;
  margin-bottom: 20px !important;
}

.template-customers-login .title-bar.title-bar-lowercase.custom-font {
  margin-bottom: 30px !important;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
}

label {
    font-family: Josefin Sans, sans-serif;
    text-transform: uppercase;
}

.cf-form-inner .cf-form-actions {
    margin-top: 10px !important;
}

.cf-form-step {
    margin: 18px 0px 0px -9px !important
}



@media (max-width: 767px) {
  .payment_status, .fulfillment_status { 
    display: none;
   }
}

.btn-default {
    color: #fff !important;
    background-color: #2a4820 !important;
    border-color: #ccc0 !important;
    border-radius: 0px !important;
    padding: 13px 20px 11px !important;
    font-family: Josefin Sans, sans-serif !important;
    text-transform: uppercase !important;
    line-height: 20px !important;
}

.show-password-form {
    font-family: Josefin Sans, sans-serif;
    text-transform: uppercase;
}


/* My Account Subscriptions Management */

.ro-translation-greeting_header .h3 {
  text-align: center !important;
}

.ro-translation-subscription_title_one_product .h3 {
    text-align: center !important;
}

.subscription-content-block-header p {
    text-transform: uppercase;
    font-family: Josefin Sans, sans-serif;
}

.subscription-button.msp__link {
    color: #487338 !important;
}

.subscription-button.msp__link:hover {
    color: #000000 !important;
}

.subscription-content-block-header p:hover {
    color: #487338 !important;
}

.text-button {
    color: #487338 !important;
}

.text-button:hover {
    color: #000000 !important;
}

.subscription-content-block-header {
    background-color: #2a4820 !important;
    border-bottom: 0px solid #ccc !important;
    border-radius: 0px !important;
    color: #ffffff !important;
}

.subscription-container table {
    width: 100% !important;
}

/* Cart */


.empty-cart {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
}

#checkout-buttons #cart_submit {
    color: #fff !important;
    background-color: #2a4820 !important;
    border-color: #ccc0 !important;
    border-radius: 0px !important;
    padding: 13px 20px 11px !important;
    font-family: Josefin Sans, sans-serif !important;
    text-transform: uppercase !important;
    line-height: 20px !important;
}

#cart-total-header {
    text-transform: uppercase;
}

#cartform thead tr th {
    font-family: Josefin Sans, sans-serif;
}

.cart-table-title>a:first-of-type {
    font-family: Josefin Sans, sans-serif;
    text-transform: uppercase;
}

.cart--shipping-message {
    font-style: normal;
}