@media (max-width: 767px) {
  

  /* Top green bar */
  .home-top-slideshow .slides li img {
    display: none !important;
  }

  .home-top-slideshow .slider-caption--subheading p {
    color: #000 !important;
  }

  .home-top-slideshow .slides li {
    background-color: #fff !important;
  }
   /* Cart Table */
   #order_details .product, #order_details .money, #order_details .quantity, #order_details th, #order_details td, #order_details .money-styling {
      font-size: 10px;
    }
    
    #order_details th {
      font-size: 10px;
    }
    
    #order_details th.details-sku, #order_details .sku {
      font-size: 0px !important;
    }
    
    
    #order_details .money-styling {
      margin: 0px;
      padding: 0px;
    }


    /* Quantity buttons */
    .row-flex {
      flex-direction: column;
      justify-content: center;
    }

    .quantity-controls {
      display: flex; 
      justify-content: center;
    }

    
    .row-flex div div {
      text-align: center;
    }


    /* My Account */
    #order_details .payment_status, #order_details .fulfillment_status { 
      display: none;
     }

    /* Top slideshow */
    #order_details .home-top-slideshow ul li img {
        display: none !important;
    }
    
    #order_details .row-flex {
        display: block;
    }
    /* Home slideshow */
    
    #order_details .slider-caption {
      padding: 20px;
    }

    #order_details .container.rich-text {
      margin-bottom: 10px;
    }


    /* Homepage wrapper */
    .homepage-sections-wrapper.homepage-sections-wrapper--white {
      padding: 0px !important;
    }

    /* Home custom html centering */
    .rte, .feature-row__text {
      text-align: center;
    }
    /* Mailchimp form */

    .col-md-6.signup-cta-text {
      text-align: center;
      margin-bottom: 10px;
    }

    #mce-EMAIL, #mc-embedded-subscribe {
      font-size: 12px;
    }

    /* Featured image */
    .feature-row__image {
      margin: 20px 0;
    }

    /* Headings */
    .title-bar h1 {
      line-height: 1 !important;
      font-size: 45px !important;
    }

    .s4com-language-selection h1.s4com-helpcenter-title {
      font-size: 35px !important;
      line-height: 1 !important;
      padding-left: 0px !important;
    }


    /* Checkout */
    .cart--shipping-message,
    .free-shipping-message,
    .cart-totals--wrapper.custom-font {
      text-align: left !important
    }

    .route-widget.mobile-align-undefined.desktop-align-undefined {
      justify-content: flex-start !important;
    }

    .route-div {
      margin-bottom: 20px;
    }

    #checkout-buttons {
      margin-top: 0px !important;
    }

  }

@media (min-width: 768px) {
  .route-widget.mobile-align-undefined.desktop-align-undefined {
    justify-content: right !important;
  }
}

@media (max-width: 1200px) {
  /* Headings */
    .title-bar.title-bar-lowercase.custom-font h2 {
      line-height: 1;
  }

  .homepage-sections-wrapper--light .title-bar-lowercase h1 span, .homepage-sections-wrapper--light .title-bar-lowercase h2 span {
    padding: 0px !important;
  }
    
  .homepage-headline-text.homepage--heading-font {
    line-height: 1;
  }
    
  h2, .title-bar h2 {
    font-size: 45px !important;
    line-height: 1 !important;
  }



  .rich-flex { 
    padding: 20px;
  }

    /* Home rich text */
    .row.rich-flex {
      flex-direction: column;
      justify-content: center;
    }
      
    .rich-flex div {
      text-align: center !important;
      padding: 5px;
    }
      
    .rich-flex div img {
      max-width: 100%;
    }

    .description-content {
      text-align: center !important;
    }



    
}

  @media (min-width: 992px) and (max-width: 1366px) {
   /* Mailchimp */
    .mc-row {
      display: flex;
      align-items: center;
    }

    #collections-main .description-content {
      width: 870px;
      margin: 0 auto;
    }
    .col-md-6.signup-cta-text h3 {
      font-size: 14px;
    }
     
  }

  @media (min-width: 769px) {
    .home-top-slideshow .slides li {
      background-color: #2c471e !important;
      min-height: 60px !important;
    }
  }

  @media (max-width: 768px) {
    .home-top-slideshow .slides li img {
      display: none;
    }
    
    .home-top-slideshow .slides li {
        min-height: 60px !important;
      }
  }

  @media (min-width: 769px) and (max-width: 1366px) {
  .home-top-slideshow .slides li {
      min-height: 60px !important;
  }
  .home-top-slideshow p {
    color: #fff !important;
  }
  .home-top-slideshow .slideshow-desktop-as-mobile-image.lazyautosizes.lazyloaded {
    display: none !important;
  }
  .slider-caption:not(.slideshow-mobile-image-content).background {
    background-color: transparent !important;
  }

}

@media (min-width: 992px) {
  .mc-row { 
    display: flex !important;
    align-items: center;
  }
}